html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#infoBar {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color:white;
    color:black;
    padding: 10px;
    font-family: monospace;
    font-size: 1rem;
    user-select: none;
    z-index: 10;
}

#infoBar p {
    display: flex;
    margin: 0;
    padding: 2px 0;
}

#infoBar span {
    margin-left: 0.25em;
}

#controlBar {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#controlBar button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    width: 5ch;
    font-family: monospace;
    font-size: 1.25rem;
    user-select: none;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#backCanvas {
    z-index: 0;
}

#gameCanvas {
    z-index: 1;
}
